<!-- Container fluid -->
<div class="bg-primary pt-20 pb-21"></div>
<div class="container-fluid mt-n22 px-6">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-12">
      <!-- Page header -->
      <div>
        <div class="d-flex justify-content-between align-items-center">
          <div class="mb-2 mb-lg-0">
            <h3 class="mb-0 text-white">
              Empleados | Clientes | Departamentos
            </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-12 col-12 mt-6">
      <!-- card -->
      <div class="card">
        <!-- card body -->
        <div class="card-body">
          <!-- heading -->
          <div class="d-flex justify-content-between align-items-center mb-3">
            <div>
              <h4 class="mb-0">Total Empleados</h4>
            </div>
            <div
              class="icon-shape icon-md bg-light-primary text-primary rounded-2"
            >
              <i class="bi bi-briefcase fs-4"></i>
            </div>
          </div>
          <!-- project number -->
          <div>
            <h1 class="fw-bold">{{ empleados.length }}</h1>
            <p class="mb-0">{{ empleadosActivos() }} activos</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-12 col-12 mt-6">
      <!-- card -->
      <div class="card">
        <!-- card body -->
        <div class="card-body">
          <!-- heading -->
          <div class="d-flex justify-content-between align-items-center mb-3">
            <div>
              <h4 class="mb-0">Total Clientes</h4>
            </div>
            <div
              class="icon-shape icon-md bg-light-primary text-primary rounded-2"
            >
              <i class="bi bi-people fs-4"></i>
            </div>
          </div>
          <!-- project number -->
          <div>
            <h1 class="fw-bold">{{ clientes.length }}</h1>
            <p class="mb-0">{{ comprasTotales() }} ordenes realizadas</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-12 col-12 mt-6">
      <!-- card -->
      <div class="card">
        <!-- card body -->
        <div class="card-body">
          <!-- heading -->
          <div class="d-flex justify-content-between align-items-center mb-3">
            <div>
              <h4 class="mb-0">Total Departamentos</h4>
            </div>
            <div
              class="icon-shape icon-md bg-light-primary text-primary rounded-2"
            >
              <i class="bi bi-bullseye fs-4"></i>
            </div>
          </div>
          <!-- project number -->
          <div>
            <h1 class="fw-bold">{{ departamentos.length }}</h1>
            <p class="mb-0">Actual: Administracion</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- row  -->
  <div class="row mt-6">
    <div class="col-md-12 col-12">
      <!-- card  -->
      <section id="Empleados">
        <div class="card">
          <div class="card-header bg-white py-4 d-flex justify-content-between">
            <div class="mt-2">
              <h4>
                <i class="fa-solid fa-users mx-2"></i> Listado de Empleados
              </h4>
            </div>
            <div class="ml-auto">
              <a
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#editarEmpleado"
              >
                <i class="fa-solid fa-plus"></i> Agregar
              </a>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-nowrap">
              <thead class="table-light">
                <tr>
                  <th>#</th>
                  <th>Nombre</th>
                  <th>Email</th>
                  <th>telefono</th>
                  <th>Departamento</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                @for (empleado of empleados; track empleado.idUsuario) {
                @if(empleado.activo){
                <tr>
                  <td>{{ empleado.idUsuario }}</td>
                  <td>
                    {{ empleado.nombre }} {{ empleado.apPaterno }}
                    {{ empleado.apMaterno }}
                  </td>
                  <td>{{ empleado.email }}</td>
                  <td>{{ empleado.telefono }}</td>
                  <td>
                    {{ obtenerNombresDepartamentos(empleado.departamentos) }}
                  </td>
                  <td>
                    <a
                      class="btn btn-primary my-2 mx-2"
                      data-bs-toggle="modal"
                      data-bs-target="#editarEmpleado"
                      (click)="cargarEmpleado(empleado.idUsuario)"
                    >
                      <i class="fas fa-angle-double-right"></i> Editar
                    </a>
                  </td>
                </tr>
                } }
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </div>
  </div>


  <!-- row  -->
  <div class="row my-6">
    <!-- card  -->
    <div class="col-xl-8 col-lg-12 col-md-12 col-12">
      <div class="card h-100">
        <div class="card-header bg-white py-4 d-flex justify-content-between">
          <div class="mt-2">
            <h4><i class="fa-solid fa-users mx-2"></i> Listado de Clientes</h4>
          </div>
          <div class="ml-auto">
            <a
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#editarCliente"
            >
              <i class="fa-solid fa-plus"></i> Agregar
            </a>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-nowrap">
            <thead class="table-light">
              <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>telefono</th>
                <th>Ordenes</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              @for (cliente of clientes; track cliente.idUsuario) {
              <tr>
                <td>{{ cliente.idUsuario }}</td>
                <td>
                  {{ cliente.nombre }} {{ cliente.apPaterno }}
                  {{ cliente.apMaterno }}
                </td>
                <td>{{ cliente.email }}</td>
                <td>{{ cliente.telefono }}</td>
                <td>{{ cliente.totalCompras }}</td>
                <td>
                  <a
                    class="btn btn-primary mx-2 my-2"
                    data-bs-toggle="modal"
                    data-bs-target="#editarCliente"
                    (click)="cargarCliente(cliente.idUsuario)"
                  >
                    <i class="fas fa-angle-double-right"></i> Editar
                  </a>
                  <button
                    (click)="eliminarCliente(cliente.idUsuario)"
                    class="btn btn-danger"
                  >
                    <i class="fa-solid fa-trash"></i> Eliminar
                  </button>
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-xl-4 col-lg-12 col-md-12 col-12 mb-6 mb-xl-0">
      <!-- card  -->
      <div class="card h-100">
        <div class="card-header bg-white py-4 d-flex justify-content-between">
          <div class="mt-2">
            <h4>
              <i class="fa-solid fa-building"></i> Listado de Departamentos
            </h4>
          </div>
          <div class="ml-auto">
            <a
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#editarDepto"
            >
              <i class="fa-solid fa-plus"></i> Agregar
            </a>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-nowrap">
            <thead class="table-light">
              <tr>
                <th>#</th>
                <th>Nombre</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              @for (depto of departamentos; track depto.idDepto) {
              <tr>
                <td>{{ depto.idDepto }}</td>
                <td>{{ depto.nombre }}</td>
                <td>
                  <a
                    class="btn btn-primary m-2"
                    data-bs-toggle="modal"
                    data-bs-target="#editarDepto"
                    (click)="cargarDepto(depto.idDepto)"
                  >
                    <i class="fas fa-angle-double-right"></i> Editar
                  </a>
                  <button
                    (click)="eliminarDepto(depto.idDepto)"
                    class="btn btn-danger"
                  >
                    <i class="fa-solid fa-trash"></i> Eliminar
                  </button>
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal para Empleados -->
<div
  class="modal fade"
  id="editarEmpleado"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  (hidden.bs.modal)="limpiarDatosEmpleado()"
>
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Empleado</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          #botonCerrarEmpleado
        ></button>
      </div>
      <div class="modal-body">
        <form #empleadoForm="ngForm" (ngSubmit)="accionEmpleado(empleadoForm)">
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input
              type="text"
              class="form-control"
              id="nombre"
              name="nombre"
              required
              [(ngModel)]="empleado.nombre"
            />
          </div>
          <div class="mb-3">
            <label for="apPaterno" class="form-label">Apellido Paterno</label>
            <input
              type="text"
              class="form-control"
              id="apPaterno"
              name="apPaterno"
              required
              [(ngModel)]="empleado.apPaterno"
            />
          </div>
          <div class="mb-3">
            <label for="apMaterno" class="form-label">Apellido Materno</label>
            <input
              type="text"
              class="form-control"
              id="apMaterno"
              name="apMaterno"
              required
              [(ngModel)]="empleado.apMaterno"
            />
          </div>
          <div class="mb-3">
            <label for="domicilioActual" class="form-label"
              >Domicilio Actual</label
            >
            <input
              type="text"
              class="form-control"
              id="domicilioActual"
              name="domicilioActual"
              required
              [(ngModel)]="empleado.domicilioActual"
            />
          </div>
          <div class="mb-3">
            <label for="telefono" class="form-label">Teléfono</label>
            <input
              type="tel"
              class="form-control"
              id="telefono"
              name="telefono"
              [(ngModel)]="empleado.telefono"
            />
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Correo Electrónico</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              [(ngModel)]="empleado.email"
            />
          </div>
          <div class="mb-3">
            <label for="usuario" class="form-label">Usuario</label>
            <input
              type="text"
              class="form-control"
              id="usuario"
              name="usuario"
              [(ngModel)]="empleado.usuario"
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              [(ngModel)]="empleado.password"
            />
          </div>
          <div class="mb-3">
            <label for="fechaAlta" class="form-label">Fecha de Alta</label>
            <input
              type="text"
              class="form-control"
              id="fechaAlta"
              name="fechaAlta"
              [(ngModel)]="empleado.fechaAlta"
            />
          </div>
          <div class="mb-3">
            <label for="id-depto" class="form-label">Id de departamento</label>
            <input
              type="number"
              class="form-control"
              id="idDepto"
              required
              name="idDepto"
              [(ngModel)]="empleado.departamentos[0].idDepto"
            />
          </div>
          <div class="mb-3 form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="activo"
              name="activo"
              [(ngModel)]="empleado.activo"
            />
            <label class="form-check-label" for="activo">Activo</label>
          </div>
          @if(empleado.idUsuario != 0){

          <div class="my-5">
            <div class="mx-auto w-100">
              <label class="text-center mb-3">Agregar Imagen Usuario</label>
              <div class="input-group">
                <input
                  type="file"
                  class="form-control"
                  id="image"
                  (change)="onFileChange($event)"
                  aria-describedby="inputGroupFileAddon04"
                  aria-label="Upload"
                  required
                />
              </div>
            </div>
            @if(imagenUrl){
            <div class="image-container mt-5 mb-2">
              <img
                [src]="imagenUrl"
                alt="Imagen de la prenda"
                class="centered-and-resized"
              />
            </div>
            } @else {
            <p>Aun no se ha agregado un Logo</p>
            }
          </div>
          }

          <div class="modal-footer">
            @if(empleado.idUsuario != 0){
            <button
              (click)="eliminarEmpleado(empleado.idUsuario)"
              class="btn btn-danger"
            >
              <i class="fa-solid fa-trash"></i> Eliminar
            </button>
            }
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal para Clientes -->
<div
  class="modal fade"
  id="editarCliente"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  (hidden.bs.modal)="limpiarDatosCliente()"
>
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Clientes</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          #botonCerrarCliente
        ></button>
      </div>
      <div class="modal-body">
        <form #clienteForm="ngForm" (ngSubmit)="accionCliente(clienteForm)">
          <div class="mb-3">
            <label for="nom-cliente" class="form-label">Nombre</label>
            <input
              type="text"
              class="form-control"
              id="nom-cliente"
              name="nombre"
              required
              [(ngModel)]="cliente.nombre"
            />
          </div>
          <div class="mb-3">
            <label for="paterno-cliente" class="form-label"
              >Apellido Paterno</label
            >
            <input
              type="text"
              class="form-control"
              id="paterno-cliente"
              name="apPaterno"
              required
              [(ngModel)]="cliente.apPaterno"
            />
          </div>
          <div class="mb-3">
            <label for="materno-cliente" class="form-label"
              >Apellido Materno</label
            >
            <input
              type="text"
              class="form-control"
              id="materno-cliente"
              name="apMaterno"
              required
              [(ngModel)]="cliente.apMaterno"
            />
          </div>
          <div class="mb-3">
            <label for="domicilio" class="form-label">Domicilio Actual</label>
            <input
              type="text"
              class="form-control"
              id="domicilio"
              name="domicilioActual"
              required
              [(ngModel)]="cliente.domicilioActual"
            />
          </div>
          <div class="mb-3">
            <label for="tel" class="form-label">Teléfono</label>
            <input
              type="tel"
              class="form-control"
              id="tel"
              name="telefono"
              [(ngModel)]="cliente.telefono"
            />
          </div>
          <div class="mb-3">
            <label for="mail" class="form-label">Correo Electrónico</label>
            <input
              type="email"
              class="form-control"
              id="mail"
              name="email"
              [(ngModel)]="cliente.email"
            />
          </div>
          <div class="mb-3">
            <label for="compras" class="form-label">Ordenes Realizadas</label>
            <input
              type="number"
              class="form-control"
              id="compras"
              name="totalCompras"
              required
              [(ngModel)]="cliente.totalCompras"
            />
          </div>
          <div class="mb-3">
            <label for="entrega" class="form-label">Direccion de Engrega</label>
            <input
              type="text"
              class="form-control"
              id="entrega"
              name="direccionEntrega"
              required
              [(ngModel)]="cliente.direccionEntrega"
            />
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
              (click)="limpiarDatosCliente()"
            >
              Cancelar
            </button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal para departamentos -->
<div
  class="modal fade"
  id="editarDepto"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  (hidden.bs.modal)="limpiarDatosDepto()"
>
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Clientes</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          #botonCerrarDepto
        ></button>
      </div>
      <div class="modal-body">
        <form #deptoForm="ngForm" (ngSubmit)="accionDepartamento(deptoForm)">
          <div class="mb-3">
            <label for="nombre-dep" class="form-label">Nombre</label>
            <input
              type="text"
              id="nombre-dep"
              name="nombre"
              class="form-control"
              [(ngModel)]="depto.nombre"
              required
            />
          </div>
          <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción</label>
            <textarea
              id="descripcion"
              name="descripcion"
              class="form-control"
              [(ngModel)]="depto.descripcion"
              required
            ></textarea>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
              (click)="limpiarDatosDepto()"
            >
              Cancelar
            </button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
