<!-- Container fluid -->
<div class="bg-primary pt-20 pb-21"></div>
<div class="container-fluid mt-n22 px-6">
  <!-- row  -->
  <div class="row my-1">
    <!-- card  -->
    <div class="col-xl-6 col-lg-12 col-md-12 col-12 mb-5">
      <div class="card h-100">
        <div class="card-header bg-white py-4 d-flex justify-content-between">
          <div class="mt-2">
            <h4><i class="fa-solid fa-users mx-2"></i> Lista de Prendas</h4>
          </div>
          <div class="ml-auto">
            <a
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#modalPrenda"
            >
              <i class="fa-solid fa-plus"></i> Agregar
            </a>
          </div>
        </div>
        <div
          class="table-responsive"
          style="max-height: 780px; overflow-y: auto"
        >
          <table class="table table-nowrap">
            <thead class="table-light">
              <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              @for (prenda of prendas; track prenda.idPrenda) {
              <tr>
                <td>{{ prenda.idPrenda }}</td>
                <td>{{ prenda.titulo }}</td>
                <td>{{ prenda.cantidad }}</td>
                <td>{{ prenda.precio }}</td>
                <td>
                  <a
                    class="btn btn-primary mx-2 my-2"
                    data-bs-toggle="modal"
                    data-bs-target="#modalPrenda"
                    (click)="cargarPrenda(prenda.idPrenda)"
                  >
                    <i class="fas fa-angle-double-right"></i> Editar
                  </a>
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-xl-6 col-lg-12 col-md-12 col-12 mb-6 mb-xl-0">
      <!-- card  -->
      <div class="card">
        <div class="card-header bg-white py-4 d-flex justify-content-between">
          <div class="mt-2">
            <h4><i class="fa-solid fa-building"></i> Listado de Ordenes</h4>
          </div>
          <div class="ml-auto">
            <a
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#modalOrden"
              (click)="cargarDatos()"
            >
              <i class="fa-solid fa-plus"></i> Agregar
            </a>
          </div>
        </div>
        <div
          class="table-responsive"
          style="max-height: 780px; overflow-y: auto"
        >
          <table class="table table-nowrap">
            <thead class="table-light">
              <tr>
                <th>#</th>
                <th>Etapa</th>
                <th>Estado</th>
                <th>Fecha Entrega</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              @for (orden of ordenes; track orden.idOrden) {
              <tr>
                <td>{{ orden.idOrden }}</td>
                <td>{{ orden.etapa }}</td>
                <td>{{ orden.estado }}</td>
                <td>{{ orden.fechaEntrega | date : "longDate" }}</td>
                <td>
                  <a
                    class="btn btn-primary m-2"
                    data-bs-toggle="modal"
                    data-bs-target="#modalOrden"
                    (click)="cargarOrden(orden.idOrden)"
                  >
                    <i class="fas fa-angle-double-right"></i> Editar
                  </a>
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal para prendas -->
<div
  class="modal fade"
  id="modalPrenda"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  (hidden.bs.modal)="limpiarDatosPrenda()"
>
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        @if(prenda.idPrenda == 0){
        <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar Prenda</h1>
        }@else{
        <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Prenda</h1>

        }
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          #botonCerrarPrenda
        ></button>
      </div>
      <div class="modal-body">
        <form #prendaForm="ngForm" (ngSubmit)="accionPrenda(prendaForm)">
          <div class="mb-3">
            <label for="titulo" class="form-label">Título</label>
            <input
              type="text"
              id="titulo"
              name="titulo"
              class="form-control"
              [(ngModel)]="prenda.titulo"
              (input)="validarCampoNoVacio(prenda.titulo)"
              required
            />
            @if(!campoVacio && !prenda.titulo){
            <div class="text-danger">
              <!-- Mostrar advertencia si campoVacio es true -->
              El título es requerido.
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción</label>
            <textarea
              id="descripcion"
              name="descripcion"
              class="form-control"
              [(ngModel)]="prenda.descripcion"
              (input)="validarCampoNoVacio(prenda.descripcion)"
              required
            ></textarea>
            @if(!campoVacio && !prenda.descripcion){
            <div class="text-danger">
              <!-- Mostrar advertencia si campoVacio es true -->
              La descripcion es requerido.
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="cantidad" class="form-label">Cantidad</label>
            <input
              type="number"
              id="cantidad"
              name="cantidad"
              class="form-control"
              [(ngModel)]="prenda.cantidad"
              required
            />
            @if(!validarCantidades(prenda.cantidad) && prenda.cantidad){
            <div class="text-danger">
              <!-- Mostrar advertencia si campoVacio es true -->
              La cantidad debe ser mayor a 12
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="precio" class="form-label">Precio</label>
            <input
              type="number"
              id="precio"
              name="precio"
              class="form-control"
              [(ngModel)]="prenda.precio"
              required
            />

            @if(!validarPrecio(prenda.precio) && prenda.cantidad){
            <div class="text-danger">
              <!-- Mostrar advertencia si campoVacio es true -->
              Campo obligatorio
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="observaciones" class="form-label">Observaciones</label>
            <textarea
              id="observaciones"
              name="observaciones"
              class="form-control"
              [(ngModel)]="prenda.observaciones"
            ></textarea>
          </div>

          @if(prenda.idPrenda != 0){

          <div class="my-5">
            <div class="mx-auto w-100">
              <label class="text-center mb-3">Agregar Logo</label>
              <div class="input-group">
                <input
                  type="file"
                  class="form-control"
                  id="image"
                  (change)="onFileChange($event)"
                  aria-describedby="inputGroupFileAddon04"
                  aria-label="Upload"
                  required
                />
              </div>
            </div>
            @if(imagenUrl){
            <div class="image-container mt-5 mb-2">
              <img
                [src]="imagenUrl"
                alt="Imagen de la prenda"
                class="centered-and-resized"
              />
            </div>
            } @else {
            <p>Aun no se ha agregado un Logo</p>
            }
          </div>

          }
          <div class="modal-footer">
            @if(prenda.idPrenda != 0){
            <button
              class="btn btn-danger"
              (click)="eliminarPrenda(prenda.idPrenda)"
            >
              <i class="fa-solid fa-trash"></i> Eliminar
            </button>
            } @if(prenda.titulo && prenda.descripcion && prenda.cantidad &&
            prenda.precio){
            <button type="submit" class="btn btn-primary">Guardar</button>}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal para ordenes -->
<div
  class="modal fade"
  id="modalOrden"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  (hidden.bs.modal)="limpiarDatosOrden()"
>
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        @if(orden.idOrden == 0){
        <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar Orden</h1>
        }@else{
        <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Orden</h1>
        }
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          #botonCerrarOrden
        ></button>
      </div>
      <div class="modal-body">
        <form #ordenForm="ngForm" (ngSubmit)="accionOrden(ordenForm)">
          <!-- Caso en la que se va agregar una nueva orden -->
          @if(orden.idOrden == 0){
          <div class="mb-3">
            <label for="cliente" class="form-label">Cliente</label>
            <select
              id="cliente"
              name="cliente"
              class="form-control"
              [(ngModel)]="orden.cliente"
              required
            >
              <option value="" disabled selected>Seleccione un cliente</option>
              @for (cliente of clientes; track cliente.idUsuario){
              <option [ngValue]="cliente">{{ cliente.nombre }}</option>
              }
            </select>
          </div>
          <div class="mb-3">
            <label for="empleado" class="form-label">Empleado</label>
            <select
              id="empleado"
              name="empleado"
              class="form-control"
              [(ngModel)]="orden.empleado"
              required
            >
              @for (empleado of empleados; track empleado.idUsuario){
              @if(empleado.departamentos[0].nombre.toLowerCase() ===
              "administracion"){
              <option [ngValue]="empleado">{{ empleado.nombre }}</option>
              } }
            </select>
          </div>
          <div class="mb-3">
            <label for="prenda" class="form-label">Prenda</label>
            <select
              id="prenda"
              name="prenda"
              class="form-control"
              [(ngModel)]="orden.prenda"
              required
            >
              @for (prenda of prendas; track prenda.idPrenda){
              @if(!yaEstaEnOrden(prenda)){
              <option [ngValue]="prenda">{{ prenda.titulo }}</option>
              } }
            </select>
          </div>
          } @else {
          <div class="mb-3">
            <label for="cliente" class="form-label">Cliente</label>
            <input
              type="text"
              id="cliente"
              name="cliente"
              class="form-control"
              [(ngModel)]="orden.cliente.nombre"
              disabled
            />
          </div>
          <div class="mb-3">
            <label for="empleado" class="form-label">Empleado</label>
            <input
              type="text"
              id="empleado"
              name="nombre"
              class="form-control"
              [(ngModel)]="orden.empleado.nombre"
              disabled
            />
          </div>
          <div class="mb-3">
            <label for="titulo" class="form-label">Prenda</label>
            <input
              type="text"
              id="titulo"
              name="prenda"
              class="form-control"
              [(ngModel)]="orden.prenda.titulo"
              (change)="actualizarTotal()"
              disabled
            />
          </div>
          }

          <div class="mb-3">
            <label for="fechaInicio" class="form-label">Fecha de Inicio</label>
            <input
              type="date"
              id="fechaInicio"
              name="fechaInicio"
              class="form-control"
              [(ngModel)]="orden.fechaInicio"
              [min]="fechaMinima"
              (change)="actualizarFecha($event)"
              required
            />
          </div>
          <div class="mb-3">
            <label for="fechaEntrega" class="form-label"
              >Fecha de Entrega</label
            >
            <input
              type="date"
              id="fechaEntrega"
              name="fechaEntrega"
              class="form-control"
              [(ngModel)]="orden.fechaEntrega"
              [min]="fechaMinimaEntrega"
              (change)="actualizarFecha($event)"
              required
            />
          </div>
          <div class="mb-3">
            <label for="etapa" class="form-label">Etapa</label>
            <input
              type="text"
              id="etapa"
              name="etapa"
              class="form-control"
              [(ngModel)]="orden.etapa"
              required
            />@if(validarEtapa(orden.etapa) && orden.etapa){
            <div class="text-danger">
              <!-- Mostrar advertencia si campoVacio es true -->
              Ingrese una etapa valida (diseño, corte,sublimacion o confeccion)
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="estado" class="form-label">Estado</label>
            <input
              type="text"
              id="estado"
              name="estado"
              class="form-control"
              [(ngModel)]="orden.estado"
              required
            />
            @if(validarEstado(orden.estado) && orden.estado){
            <div class="text-danger">
              Ingrese un estado valido (En proceso, Pendiente)
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="total" class="form-label">Total</label>
            <input
              type="number"
              id="total"
              name="total"
              class="form-control"
              [(ngModel)]="actualizarTotal"
              disabled
            />

            <!--
              obtenerlo de la base de datos 
              <div id="total" class="form-control" >
              {{ orden.total }}
            </div> -->
          </div>
          <div class="mb-3">
            <label for="anticipo" class="form-label">Anticipo</label>
            <input
              type="number"
              id="anticipo"
              name="anticipo"
              class="form-control"
              [(ngModel)]="orden.anticipo"
              required
            />
            @if(!validarPrecio(orden.anticipo) && !orden.anticipo){
            <div class="text-danger">Campo obligatorio</div>
            }
          </div>

          <div class="modal-footer">
            @if(orden.idOrden != 0){
            <button
              class="btn btn-danger"
              (click)="eliminarOrden(orden.idOrden)"
            >
              <i class="fa-solid fa-trash"></i> Eliminar
            </button>
            } @if(orden.cliente && orden.empleado && orden.prenda &&
            orden.fechaInicio && orden.fechaEntrega && orden.anticipo){
            <button type="submit" class="btn btn-primary">Guardar</button>}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
