.fondo{
    width: 100vw;
    height: 100vh;


        background-image: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.142),
            rgba(0,0,0,0.5)
        )
        ,url("../../assets/resources/logofelinus.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    
}

.btn {
    background-color: #ef932bd0;
    border: #FB8500;
}


.card-header{
    background-color: #ef932bd0;
}
.card { 
    /* Agrega sombra para crear el efecto de "tarjeta" */
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s; /* Transición suave al pasar el mouse */
}
/* Al pasar el mouse, agrega una sombra más profunda */
.card:hover {
    box-shadow: 0 16px 20px 0 rgba(0, 0, 0, 0.2);
}
/* Agrega un poco de relleno dentro del contenedor de la tarjeta */
.container {
    padding: 2px 16px;
}


