<nav class="navbar bg-body-tertiary fixed-top align-items-center">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#Menu"
      aria-controls="Menu"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand">ADMINISTRACIÓN</a>

    <!-- iconos de perfil y notificaciones  -->
    <ul class="navbar-right-wrap d-flex nav-top-wrap" style="list-style: none">
      <li class="dropdown ms-2">
        <a
          class="rounded-circle"
          href="#"
          role="button"
          id="dropdownUser"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <div class="avatar avatar-md avatar-indicators avatar-online">
            <img alt="avatar" [src]="imagenUrl" class="rounded-circle" />
          </div>
        </a>
        <div
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="dropdownUser"
        >
          <div class="px-4 pb-0 pt-2">
            <div class="lh-1" style="text-align: center">
              <h5 class="mb-1">{{ nombre }}</h5>
            </div>
            <div class="dropdown-divider mt-3 mb-2"></div>
          </div>

          <ul class="list-unstyled">
            <li>
              <a
                class="dropdown-item"
                style="cursor: pointer"
                data-bs-toggle="modal"
                data-bs-target="#modal-pass"
              >
                <i class="fa-solid fa-key"></i> Cambiar Contraseña
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                (click)="cerrarSesion()"
                style="cursor: pointer"
              >
                <i class="fa-solid fa-right-from-bracket"></i> Cerrar Sesion
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>

    <div
      class="offcanvas offcanvas-start navbar-vertical back-menu"
      id="Menu"
      aria-labelledby="MenuLabel"
    >
      <div class="offcanvas-body">
        <!-- Sidebar -->
        <!-- <nav class="navbar-vertical navbar"> -->
        <div class="nav-scroller">
          <!-- Brand logo -->
          <a routerLink="/administracion" class="nav-link">
            <img
              style="width: 100%"
              src="../../assets/resources/LogoNegro.jpg"
              alt=""
            />
          </a>

          <!-- Navbar nav -->
          <ul class="navbar-nav flex-column" id="sideNavbar">
            <li class="nav-item mt-5">
              <a
                class="nav-link"
                routerLink="ordenes"
                routerLinkActive="active"
              >
                <i class="fa-solid fa-house-user icon-xs me-2"></i> Inicio
              </a>
            </li>

            <!-- Nav item -->
            <li class="nav-item">
              <div class="navbar-heading">Acciones</div>
            </li>

            <!-- Nav item -->
            <li class="nav-item">
              <a
                class="nav-link has-arrow @@if (context.page_group !== 'pages') { collapsed }"
                href="#!"
                data-bs-toggle="collapse"
                data-bs-target="#navPages"
                aria-expanded="false"
                aria-controls="navPages"
              >
                <i class="fa-solid fa-layer-group icon-xs me-2"></i> Administrar
              </a>

              <div id="navPages" class="collapse collapse-horizontal">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link" routerLink="ordenes">
                      <i class="fa-solid fa-bars-progress icon-xs me-2"></i>
                      Ordenes
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="usuarios">
                      <i class="fa-regular fa-user icon-xs me-2"></i>Personal
                    </a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" routerLink="historial">
                      <i class="fa-solid fa-clock-rotate-left icon-xs me-2"></i
                      >Historial
                    </a>
                  </li>
                </ul>
              </div>
            </li>

            <!-- Documentacion-->
            <!-- Nav item -->
            <li class="nav-item">
              <div class="navbar-heading">Sobre el sistema</div>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="soporte">
                <i class="fa-solid fa-clipboard icon-xs me-2"></i>
                Ayuda y Soporte
              </a>
            </li>
          </ul>
        </div>
        <!-- </nav> -->
      </div>
    </div>
  </div>
</nav>

<!-- Modal -->
<div
  class="modal fade"
  id="modal-pass"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div>
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            Cambiar Contraseña
          </h1>
        </div>
        <div>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            #botonCerrarPass
          ></button>
        </div>
      </div>
      <div class="modal-body">
        @if(estado === 'pass'){
        <div>
          <jjwins-alert-messages> </jjwins-alert-messages>
        </div>
        }

        <form #passForm="ngForm" (submit)="cambiarPassword()">
          <div class="form-group mb-3">
            <label for="anterior">Contraseña Anterior:</label>
            <input
              type="password"
              class="form-control"
              id="anterior"
              name="anterior"
              [(ngModel)]="anterior"
              required
            />
          </div>
          <div class="form-group mb-3">
            <label for="password">Nueva Contraseña:</label>
            <input
              type="text"
              class="form-control"
              id="password"
              name="password"
              [(ngModel)]="password"
              required
            />
          </div>
          <div class="form-group mb-3">
            <label for="confirmacion">Confirmar Nueva Contraseña:</label>
            <input
              type="password"
              class="form-control"
              id="confirmacion"
              name="confirmacion"
              [(ngModel)]="confirmacion"
              required
            />
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">
              Guardar Contraseña
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
