<nav class="navbar bg-body-tertiary fixed-top align-items-center">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#Menu"
      aria-controls="Menu"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand">ADMINISTRACIÓN</a>

    <!-- iconos de perfil y notificaciones  -->
    <ul class="navbar-right-wrap d-flex nav-top-wrap" style="list-style: none">
      <li class="dropdown stopevent">
        <a
          class="btn btn-light btn-icon rounded-circle indicator indicator-primary text-muted"
          href="#"
          role="button"
          id="notifacion"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="fa-solid fa-bell icon-size"></i>
        </a>
        <div
          class="dropdown-menu dropdown-menu-lg dropdown-menu-end"
          aria-labelledby="notificacion"
        >
          <div>
            <div
              class="border-bottom px-3 pt-2 pb-3 d-flex justify-content-between align-items-center"
            >
              <p class="mb-0 text-dark fw-medium fs-4">Notifications</p>
              <a href="#" class="text-muted">
                <span>
                  <i class="me-1 icon-xxs" data-feather="settings"></i>
                </span>
              </a>
            </div>
            <!-- List group -->
            <ul class="list-group list-group-flush notification-list-scroll">
              <!-- List group item -->
              <li class="list-group-item">
                <a href="#" class="text-muted">
                  <h5 class="mb-1">Sina Ray</h5>
                  <p class="mb-0">
                    Sed aliquam augue sit amet mauris volutpat hendrerit sed
                    nunc eu diam.
                  </p>
                </a>
              </li>
            </ul>
            <div class="border-top px-3 py-2 text-center">
              <a href="#" class="text-inherit fw-semi-bold">
                View all Notifications
              </a>
            </div>
          </div>
        </div>
      </li>
      <!-- List -->
      <li class="dropdown ms-2">
        <a
          class="rounded-circle"
          href="#"
          role="button"
          id="dropdownUser"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <div class="avatar avatar-md avatar-indicators avatar-online">
            <img
              alt="avatar"
              src="../../../assets/images/avatar/avatar-1.jpg"
              class="rounded-circle"
            />
          </div>
        </a>
        <div
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="dropdownUser"
        >
          <div class="px-4 pb-0 pt-2">
            <div class="lh-1">
              <h5 class="mb-1">John E. Grainger</h5>
              <a href="#" class="text-inherit fs-6">View my profile</a>
            </div>
            <div class="dropdown-divider mt-3 mb-2"></div>
          </div>

          <ul class="list-unstyled">
            <li>
              <a class="dropdown-item" href="#">
                <i
                  class="me-2 icon-xxs dropdown-item-icon"
                  data-feather="user"
                ></i
                >Edit Profile
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="#">
                <i
                  class="me-2 icon-xxs dropdown-item-icon"
                  data-feather="settings"
                ></i
                >Account Settings
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="#">
                <i
                  class="me-2 icon-xxs dropdown-item-icon"
                  data-feather="power"
                ></i
                >Sign Out
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>

    <div
      class="offcanvas offcanvas-start navbar-vertical back-menu"
      id="Menu"
      aria-labelledby="MenuLabel"
    >
      <div class="offcanvas-body">
        <!-- Sidebar -->
        <!-- <nav class="navbar-vertical navbar"> -->
        <div class="nav-scroller">
          <!-- Brand logo -->
          <a routerLink="/administracion" class="nav-link">
            <img
              style="width: 100%"
              src="../../assets/resources/LogoNegro.jpg"
              alt=""
            />
          </a>

          <!-- Navbar nav -->
          <ul class="navbar-nav flex-column" id="sideNavbar">
            <li class="nav-item mt-5">
              <a
                class="nav-link"
                routerLink="ordenes"
                routerLinkActive="active"
              >
                <i class="fa-solid fa-house-user icon-xs me-2"></i> Inicio
              </a>
            </li>

            <!-- Nav item -->
            <li class="nav-item">
              <div class="navbar-heading">Acciones</div>
            </li>

            <!-- Nav item -->
            <li class="nav-item">
              <a
                class="nav-link has-arrow @@if (context.page_group !== 'pages') { collapsed }"
                href="#!"
                data-bs-toggle="collapse"
                data-bs-target="#navPages"
                aria-expanded="false"
                aria-controls="navPages"
              >
                <i class="fa-solid fa-layer-group icon-xs me-2"></i> Administrar
              </a>

              <div id="navPages" class="collapse collapse-horizontal">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link" routerLink="ordenes"> 
                      <i class="fa-solid fa-bars-progress icon-xs me-2"></i>
                      Ordenes </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="usuarios">
                      <i class="fa-regular fa-user icon-xs me-2"></i>Personal
                    </a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      <i class="fa-solid fa-clock-rotate-left icon-xs me-2"></i
                      >Historial
                    </a>
                  </li>
                </ul>
              </div>
            </li>

            <!-- Documentacion-->
            <!-- Nav item -->
            <li class="nav-item">
              <div class="navbar-heading">Documentacion</div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="fa-solid fa-clipboard icon-xs me-2"></i>
                Docs
              </a>
            </li>
          </ul>
        </div>
        <!-- </nav> -->
      </div>
    </div>
  </div>
</nav>
