
<div class="container-fluid mt-n22 px-6 ">
  <div class="row mt-6">
    <div class="col-md-12 col-12">
      <!-- card  -->
      <section id="Empleados" class="container mt-22">
        <div class="card">
          <div class="card-header bg-white py-4 d-flex justify-content-between">
            <div class="mt-2">
              <h4><i class="fa-solid fa-users mx-2"></i> Ordenes Pendientes</h4>
            </div>
            <div class="ml-auto">
              <a
                class="btn btn-primary mx-2"
                data-bs-toggle="modal"
                data-bs-target="#editarEmpleado"
              >
                <i class="fa-solid fa-plus"></i> Salida
              </a>
              <a
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#editarEmpleado"
              >
                <i class="fa-solid fa-plus"></i> Entrada
              </a>
            </div>
          </div>
          <div
            class="table-responsive"
            style="max-height: 780px; overflow-y: auto"
          >
            <table class="table table-nowrap">
              <thead class="table-light">
                <tr>
                  <th>Clave</th>
                  <th>Empleado</th>
                  <th>Material</th>
                  <th>Tipo</th>
                  <th>Cantidad</th>
                  <th>Fecha</th>
                  <th>Opcion</th>
                </tr>
              </thead>
              <tbody>
                @for (mov of movimientos; track movimiento.clave) {
                <tr>
                  <td>{{ mov.clave }}</td>
                  <td>{{ mov.empleado.nombre }}</td>
                  <td>{{ mov.inventario.nombre }}</td>
                  <td>{{ mov.tipoMov }}</td>
                  <td>{{ mov.cantidadMov }}</td>
                  <td>{{ mov.fechaMov }}</td>
                  <td>
                    <a
                      class="btn btn-primary mx-2 my-2"
                      data-bs-toggle="modal"
                      data-bs-target="#modalOrden"
                      (click)="cargarMovimiento(mov.clave)"
                    >
                      <i class="icon-xs me-2 fa-regular fa-eye"></i> Ver
                      Detalles
                    </a>
                  </td>
                  <td>
                    <!-- <button
                class="btn btn-success mt-3"
                (click)="modificarEtapa(orden.idOrden)"

              >
                Orden terminada
              </button> -->
                  </td>
                </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>