<!-- <nav class="navbar bg-body-tertiary fixed-top align-items-center">
  <div class="container-fluid">
    <a class="d-flex btn-icon">
      <i class="fa-solid fa-store icon-size"></i>
    </a>

    <a class="navbar-brand">ALMACEN</a>

    
    <ul class="navbar-right-wrap d-flex nav-top-wrap" style="list-style: none">
      <li class="dropdown stopevent">
        <a
            class="btn btn-light btn-icon rounded-circle indicator indicator-primary text-muted"
            href="#"
            role="button"
            id="notifacion"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
        >
            <i class="fa-solid fa-bell icon-size"></i>
        </a>
        <div
          class="dropdown-menu dropdown-menu-lg dropdown-menu-end"
          aria-labelledby="notificacion"
        >
          <div>
            <div
              class="border-bottom px-3 pt-2 pb-3 d-flex justify-content-between align-items-center"
            >
              <p class="mb-0 text-dark fw-medium fs-4">Notifications</p>
              <a href="#" class="text-muted">
                <span>
                  <i class="me-1 icon-xxs" data-feather="settings"></i>
                </span>
              </a>
            </div>
            <ul class="list-group list-group-flush notification-list-scroll">
              
              <li class="list-group-item">
                <a href="#" class="text-muted">
                  <h5 class="mb-1">Sina Ray</h5>
                  <p class="mb-0">
                    Sed aliquam augue sit amet mauris volutpat hendrerit sed
                    nunc eu diam.
                  </p>
                </a>
              </li>
            </ul>
            <div class="border-top px-3 py-2 text-center">
              <a href="#" class="text-inherit fw-semi-bold">
                View all Notifications
              </a>
            </div>
          </div>
        </div>
      </li>
      
      <li class="dropdown ms-2">
        <a
          class="rounded-circle"
          href="#"
          role="button"
          id="dropdownUser"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <div class="avatar avatar-md avatar-indicators avatar-online">
            <img
              alt="avatar"
              src="../../../assets/images/avatar/avatar-1.jpg"
              class="rounded-circle"
            />
          </div>
        </a>
        <div
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="dropdownUser"
        >
          <div class="px-4 pb-0 pt-2">
            <div class="lh-1">
              <h5 class="mb-1">John E. Grainger</h5>
              <a href="#" class="text-inherit fs-6">View my profile</a>
            </div>
            <div class="dropdown-divider mt-3 mb-2"></div>
          </div>

          <ul class="list-unstyled">
            <li>
              <a class="dropdown-item" href="#">
                <i
                  class="me-2 icon-xxs dropdown-item-icon"
                  data-feather="user"
                ></i
                >Edit Profile
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="#">
                <i
                  class="me-2 icon-xxs dropdown-item-icon"
                  data-feather="settings"
                ></i
                >Account Settings
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="#">
                <i
                  class="me-2 icon-xxs dropdown-item-icon"
                  data-feather="power"
                ></i
                >Sign Out
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav> -->

<!-- Container fluid -->
<div class="bg-primary pt-20 pb-15"></div>
<div class="container-fluid mt-n22 px-6 mb-22">
  <div class="row mt-6">
    <div class="col-md-12 col-12">
      <!-- card  -->
      <section id="Empleados" class="container">
        <div class="card">
          <div class="card-header bg-white py-4 d-flex justify-content-between">
            <div class="mt-2">
              <h4>
                <i class="fa-solid fa-users mx-2"></i> Lista de Materiales
              </h4>
            </div>
            <div class="ml-auto">
              <a
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#modalMaterial"
              >
                <i class="fa-solid fa-plus"></i> Agregar
              </a>
            </div>
          </div>
          <div
            class="table-responsive"
            style="max-height: 780px; overflow-y: auto"
          >
            <table class="table table-nowrap">
              <thead class="table-light">
                <tr>
                  <th>Codigo</th>
                  <th>Nombre</th>
                  <th>Cantidad</th>
                  <th>Unidad</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                @for (material of materiales; track material) {
                @if(material.cantidad > 0){
                <tr>
                  <td>{{ material.codigo }}</td>
                  <td>{{ material.nombre }}</td>
                  <td>{{ material.cantidad }}</td>
                  <td>{{ material.unidadMedida ? "Sí" : "No" }}</td>
                  <td>
                    <a
                      class="btn btn-primary mx-2 my-2"
                      data-bs-toggle="modal"
                      data-bs-target="#modalMaterial"
                      (click)="cargarMaterial(material.codigo)"
                    >
                      <i class="fas fa-angle-double-right"></i> Editar
                    </a>
                  </td>
                </tr>
                } }
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<div class="row mt-6">
  <div class="col-md-12 col-12">
    <!-- card  -->
    <section id="Empleados" class="container">
      <div class="card">
        <div class="card-header bg-white py-4 d-flex justify-content-between">
          <div class="mt-2">
            <h4><i class="fa-solid fa-users mx-2"></i> Ordenes Pendientes</h4>
          </div>
        </div>
        <div
          class="table-responsive"
          style="max-height: 780px; overflow-y: auto"
        >
          <table class="table table-nowrap">
            <thead class="table-light">
              <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Etapa</th>
                <th>Estado</th>
                <th>Opciones</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              @for (orden of ordenes; track prenda.idPrenda) {
              <tr>
                <td>{{ orden.idOrden }}</td>
                <td>{{ orden.prenda.titulo }}</td>
                <td>{{ orden.prenda.cantidad }}</td>
                <td>{{ orden.etapa }}</td>
                <td>{{ orden.estado }}</td>
                <td>
                  <a
                    class="btn btn-primary mx-2 my-2"
                    data-bs-toggle="modal"
                    data-bs-target="#modalOrden"
                    (click)="cargarOrden(orden.idOrden)"
                  >
                    <i class="icon-xs me-2 fa-regular fa-eye"></i> Ver Detalles
                  </a>
                </td>
                <td>
                  <!-- <button
                class="btn btn-success mt-3"
                (click)="modificarEtapa(orden.idOrden)"

              >
                Orden terminada
              </button> -->
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </div>

  <!-- Modal para materiales -->
  <div
    class="modal fade"
    id="modalMaterial"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
    (hidden.bs.modal)="limpiarDatosMaterial()"
  >
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            Editar Material
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            #botonCerrarMaterial
          ></button>
        </div>
        <div class="modal-body">
          <form
            #materialForm="ngForm"
            (ngSubmit)="accionMaterial(materialForm)"
          >
            <div class="mb-3">
              <label for="nombre" class="form-label">Nombre</label>
              <input
                type="text"
                id="nombre"
                name="nombre"
                class="form-control"
                [(ngModel)]="material.nombre"
                required
              />
            </div>
            <div class="mb-3">
              <label for="metros" class="form-label">Metros</label>
              <input
                type="number"
                id="metros"
                name="cantidad"
                class="form-control"
                [(ngModel)]="material.cantidad"
                required
              />
            </div>
            <div class="mb-3">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="disponible"
                  name="unidadMedida"
                  [(ngModel)]="material.unidadMedida"
                  
                />
                <label class="form-check-label" for="disponible">
                  Disponible
                </label>
              </div>
            </div>

            <div class="modal-footer">
              @if(material.codigo !==  ""){
              <button
                class="btn btn-danger"
                (click)="eliminarMaterial(material.codigo)"
              >
                <i class="fa-solid fa-trash"></i> Eliminar
              </button>
              }
              <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal para ordenes -->
  <div
    class="modal fade"
    id="modalOrden"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Detalles</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            #botonCerrarOrden
          ></button>
        </div>
        <div class="modal-body">
          <form #ordenForm="ngForm" (ngSubmit)="accionOrden(ordenForm)">
            <div class="mb-3">
              <label for="nombre" class="form-label">Nombre</label>
              <textarea
                id="nombre"
                name="descripcion"
                class="form-control"
                [(ngModel)]="orden.cliente.nombre"
                required
              ></textarea>
            </div>
            <div class="mb-3">
              <label for="titulo" class="form-label">Prenda</label>
              <input
                type="text"
                id="titulo"
                name="titulo"
                class="form-control"
                [(ngModel)]="orden.prenda.titulo"
                disabled
              />
            </div>
            <div class="mb-3">
              <label for="titulo" class="form-label">Descripción</label>
              <input
                type="text"
                id="titulo"
                name="descripcion"
                class="form-control"
                [(ngModel)]="orden.prenda.descripcion"
                disabled
              />
            </div>

            <div class="my-5">
              <button
                class="btn btn-success mt-3"
                (click)="modificarStatus(orden.idOrden)"
              >
                Entregar
              </button>
            </div>

            <!--               
            @if(fileLoaded){
                <button
                class="btn btn-success mt-3"
                (click)="modificarStatus(orden.idOrden)"
              >
                Entregar
              </button>
              }
            </div>
          </div> -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
